.fc {
  padding: 30px;
  height: 885px;
}

.calendar {
  position: relative;
  z-index: 0;
}

.event-button {
  position: absolute;
  top: 95px;
  left: 310px;
  z-index: 1;
}

.clear-button {
  position: absolute;
  top: 95px;
  right: 220px;
  z-index: 1;
}
